    <h2>{{title}}, {{name}}!</h2>
    <br><br>
    <h2>Friends:</h2>
    <ul>
      {{#each friends}}
      <li>{{name}}
        {{# if age}}
        - {{age}} years old
        {{/if}}
      </li>
      {{/each}}
    </ul>
    <br><br>
    <p>Automatically sanitized:</p>
    <p>{{content}}</p>
    <br><br>
    <p>Now I'm marked as safe:</p>
    <p>{{{content}}}</p>
    <br><br>
    <img src="{{image}}" alt="puppy">
